html, body, #root {
    height: 100%;
    width: 100%;
}
body {
    padding: 0;
    margin: 0;
}

.content {
    height: 100%;
    display: flex;
    .header {
        height: 40px;
        display: flex;
        align-items: center;
        padding: 0;
    }
    .footer {
        height: 200px;
        padding: 0;
        background-color: #333;
    }
}
.drag-placeholder {
    + div {
        display: none !important;
    }
}
.video {
    display: flex;
    align-items: center;
    justify-content: center;
    .mask {
        width: 400px;
        height: 200px;
        background-color: #d9d9d9;
    }
    video {
        width: 100%;
        height: 100%;
    }
}
.audio {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    .mask {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .totalTime {
        width: 100%;
        height: 60%;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
    }
    .line {
        /*animation: transform 3s;*/
        /*transition: transform 1s;*/
        width: 1px;
        background-color: rgba(255, 0, 0, .5 );
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
    }
}